# Bỏ qua thư mục node_modules
# node_modules/

# Bỏ kết quả test và báo cáo Playwright
test-results/
playwright-report/
blob-report/
screenshots/
*.zip

# Bỏ ảnh hoặc video tự động sinh
*.png
*.jpg
*.jpeg
*.webm
*.mp4